<img src="https://laistassets.scprdev.org/i/81e72a4f55886c30eaaeb4b01055adc0/5d07c9b9f4faed0009dd3df3-eight.jpg"
    class="img-fluid rounded" alt="Responsive image">
<h2> Can I take your order?</h2>
<div class="container">
    <div class="row">

        <div class="ordered col">
            <h3> Burgers you have ordered:</h3>
            <div class="burgers_ordered rounded">
                {{#each burger}}
                {{#unless devoured}}
                <li>
                    
                    {{burger_name}}

                    <button data-burgerid="{{id}}" class="devburger rounded" data-devState="{{devoured}}">Devour</button>

                </li>

                {{/unless}}
                {{/each}}
            </div>
        </div>


        <div class="eaten col">
            <h3>Burgers you have eaten:</h3>
            <div class="burgers_eaten rounded">
                {{#each burger}}
                {{#if devoured}}
                <li>

                    {{burger_name}}

                </li>
                {{/if}}
                {{/each}}


            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="ordering col-6">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">

                    <input type="text" class="form-control" id="add_burger" placeholder="Type of Burger">
                </div>
                <button type="submit" id="clickSumbit" class="btn btn-danger mb-2" autocomplete="off">Complete
                    Order</button>
            </form>
        </div>
        <div class="col-3"></div>

    </div>
</div>